body {
    margin:0;
}

#flyer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#flyer-menu li {
  float: left;
}

#flyer-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#flyer-menu li a:hover:not(.active) {
  background-color: #111;
}

#flyer-menu .active {
  background-color: #4CAF50;
}

#flyer-theme1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}