#fyler {
    display: inline;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    padding: 20px;
    clear: both;
    padding-bottom: 10px
}
#flyer.hide {
    display: none;

}
#flyer .flyer-title {
    padding-top: 10px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: #2483A6;
    margin: 0;
}

#flyer .flyer-title a {
    color: #262626;
    border: none;
    text-decoration: none;
}
.flyer-image {
    display: block;
    max-height: 375px;
    width: auto;
}

.flyer-title {
    border-radius: 25px 25px 0px 0px;
    background: white;
    padding: 15px;
    font-size: 20px;
}

.flyer-desc {
    border-radius: 0px 0px 25px 25px;
    background: white;
    padding: 15px;
    font-size: 15px;
    margin: 0px;
}
.flyer-iframe9 {
    border: 0px;
    display: block;
    width: 100%;
}
.flyer-desc.darkclass {
    background-color: #353941 !important;
    color: #eee !important;
}
#flyer .flyer-title.darkclass {
    background-color: #353941 !important;
    color: #eee !important;
}
#yesfly.hide{
    display: inline !important;
}
#nofly.hide{
    display: none !important;
}
#nofly{
    display: inline !important;
}
#yesfly{
    display: none !important;
}
.flyer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 187px 187px;
    gap: 0px 0px;
    grid-template-areas:
      "flyer-grid-0 flyer-grid-1"
      "flyer-grid-2 flyer-grid-3";
  }
  
  .flyer-grid-0 { grid-area: flyer-grid-0; }
  
  .flyer-grid-1 { grid-area: flyer-grid-1; }
  
  .flyer-grid-2 { grid-area: flyer-grid-2; }
  
  .flyer-grid-3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-template-areas:
      "flyer-grid-inside-0 flyer-grid-inside-1"
      "flyer-grid-inside-2 flyer-grid-inside-3";
    grid-area: flyer-grid-3;
  }
  
  .flyer-grid-inside-0 { grid-area: flyer-grid-inside-0; }
  
  .flyer-grid-inside-1 { grid-area: flyer-grid-inside-1; }
  
  .flyer-grid-inside-2 { grid-area: flyer-grid-inside-2; }
  
  .flyer-grid-inside-3 { grid-area: flyer-grid-inside-3; }
  /*

  <div class="flyer-container" id="flyer-grid">
  <div class="flyer-grid-0" id="flyer-grid-0"></div>
  <div class="flyer-grid-1" id="flyer-grid-1"></div>
  <div class="flyer-grid-2" id="flyer-grid-2"></div>
  <div class="flyer-grid-3" id="flyer-grid-3">
    <div class="flyer-grid-inside-0"></div>
    <div class="flyer-grid-inside-1"></div>
    <div class="flyer-grid-inside-2"></div>
    <div class="flyer-grid-inside-3"></div>
  </div>
</div> */  