[data-theme="dark"] .ouchmyfoot {
    background-color: #353941 !important;
    color: #eee;
}

[data-theme="dark"] .ouchmyfoot a {
    color: #eee;
}

[data-theme="dark"] .app-bar {
    background-color: #353941 !important;
}

[data-theme="dark"] .search-wrap1 {
    background-color: #353941 !important;
}

[data-theme="dark"] .navdrawer-container {
    background-color: #173f97 !important;
}
[data-theme="dark"] .nav-search {
    background-color: #4f545e !important;
}